@import "../_partials/_helpers.scss";

body{
    padding-top: 0;
}

.content{
    padding:toRem(20px);

}
.overlay{
    transition: all 400ms ease-in-out;
    &--active {
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.7);
        width: 100%;
        overflow: hidden;
    }
}

.drawer {
    transition: all 400ms ease-in-out;
    position: absolute;
    left: calc(-80% - 20px);
    top: 0;
    background-color:#f4f1e4;
    border-top-right-radius: toRem(10px);
    border-bottom-right-radius: toRem(10px);
    padding: toRem(10px);
    max-width: 80vw;
    width: 100%;
    min-height: calc(100vh - toRem(20px));
    font-family: sans-serif;

    &--active{
        left: 0;
    }

    &__hdl {
        font-size: toRem(15px);
        font-weight: 500;
        color:dimgray;
    }
    &__nav {
        display: flex;
        flex-direction: column;
    }
    &__item {
        display: flex;
        justify-content: flex-start;
        line-height: 1.2;
        padding: toRem(15px) toRem(18px);
        font-weight: 500;
        color:dimgray;
        text-decoration: none;

        &:hover{
            background-color:#e6e4bf;
            border-radius: toRem(24px);
        }
    }
    &__icon {
        &--inbox {}
        &--outbox {}
        &--favorites {}
        &--trash {}
    }
    &__text {
        flex-grow: 10;
    }
    &__badge {

    }
    &__hamburger{
        width: toRem(46px);
        height: toRem(46px);
        line-height: 0;
        cursor: pointer;
        overflow: hidden;
        padding: toRem(10px);
        position: absolute;
        right: toRem(-76px);

        span{
            border-radius: toRem(4px);
            position: relative;
            transition: all 400ms ease-in-out;
            background-color: black;
            display: inline-block;
            width: toRem(46px);
            height: toRem(9px);
            margin-bottom: toRem(4.5px);
            margin-top: toRem(4.5px);
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &--active {

            span:first-child{
                transform-origin: center left;
                transform: rotate(50deg);

            }
            span:nth-child(2){
                transform: translateX(-200%);
            }
            span:last-child{
                transform-origin: center left;
                transform: rotate(-50deg);

            }

        }


    }

}