@import "../_partials/_helpers";


body {
    padding-top: 0;
    margin-top: 0;
}

.main {
    padding: toRem(20px);
}

.overlay {

    &--active {
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        overflow: hidden;
    }
}

.drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #f4f1e4;
    padding: toRem(10px);
    width: 100%;
    max-width: 80vw;
    min-height: calc(100vh - toRem(20px));
    border-top-right-radius: toRem(10px);
    border-bottom-right-radius: toRem(10px);
    font-family: "Open Sans", sans-serif;


    &__hdl {
        color: dimgray;
        font-size: toRem(15px);
        font-weight: 500;
    }

    &__nav {
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        justify-content: flex-start;
        font-size: toRem(15px);
        font-weight: 500;
        text-decoration: none;
        color: rgb(72, 71, 58);
        padding: toRem(2px) toRem(18px);
        line-height: 1.2;

        &:hover {
            background-color: #e6e4bf;
        }
    }

    &__icon {
        &--inbox {
        }

        &--outbox {
        }

        &--favorites {
        }

        &--trash {
        }
    }

    &__text {
        flex-grow: 10;
    }

    &__badge {

    }

    &__hamburger {
        width: toRem(46px);
        height: toRem(46px);
        line-height: 0;
        cursor: pointer;
        overflow: hidden;
        padding: toRem(10px);

        span {
            transition: all 400ms ease-in-out;
            display: inline-block;
            width: toRem(46px);
            height: toRem(9px);
            margin-bottom: toRem(4.5px);
            margin-top: toRem(4.5px);
            background-color: black;
            position: relative;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &:hover {

            span:first-child {
                transform-origin: center left;
                transform: rotate(50deg);

            }
            span:nth-child(2) {
                transform: translateX(-200%);
            }
            span:last-child {
                transform-origin: center left;
                transform: rotate(-50deg);

            }

        }
    }

}