@import"../_partials/helpers";
.show-code {
    max-width: toRem(600px);
    border: toRem(1px) solid darkgrey;
    border-radius: toRem(4px);
    margin:  auto auto toRem(10px);
    &__visualisation {
        padding: toRem(10px);
        border-bottom: toRem(1px) solid;

    }
    &__btn {
        line-height: 1;
        display: block;
        margin: auto;
        background: white;
        border: toRem(3px) solid green;
        border-radius: toRem(26px);
        text-transform: uppercase;
        font-family: sans-serif;
        color: green;
        padding: toRem(5px) toRem(15px);
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 400ms;

        &:hover {
            color: white;
            background: green;

        }

    }
    &__code {

    }
    &__code--hidden {

    }
}

